<table class="table table-bordered" id="dataTableCondo">
    <thead>
        <tr>
            <th>House number</th>
            <th>Street</th>  
            <th>Province</th>   
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>
</table>  